@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  background-color: #F7F6FF;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul li {
  list-style-type: none;
}

.forbtn, footer .footer__container .footer__social button, .register__container__content button, .services .service__cardbox .service__card button, .header__information__content .information__content__text .information__content__btn button, .header__navbar__btn .navbar__button {
  border: 1px solid #F32C6D;
  border-radius: 9px;
  background-color: #F32C6D;
  color: #fff;
  transition: 0.4s;
  text-align: center;
}
.forbtn:hover, footer .footer__container .footer__social button:hover, .register__container__content button:hover, .services .service__cardbox .service__card button:hover, .header__information__content .information__content__text .information__content__btn button:hover, .header__navbar__btn .navbar__button:hover {
  border: 1px solid #F32C6D;
  background-color: #fff;
  color: #000000;
}

#header {
  width: 100%;
  margin: 0 auto;
}
#header .header__container {
  width: 1440px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #fff;
}

.header__navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 8px 3px -2px rgba(0, 0, 0, 0.136);
  -webkit-box-shadow: 1px 8px 3px -2px rgba(0, 0, 0, 0.132);
  -moz-box-shadow: 1px 8px 3px -2px rgba(0, 0, 0, 0.138);
  border-bottom: 1px solid #fff;
}

.navbar__container {
  max-width: 1200px;
  height: 85px;
  border: none;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__container .navbar__box--list {
  width: 385px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__container .navbar__box--list li a {
  color: #000000;
  transition: 0.1s;
}
.navbar__container .navbar__box--list a:hover {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.header__navbar__btn .navbar__button {
  width: 205px;
  height: 54px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.header__information__content {
  max-width: 1187px;
  height: 325px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 82px;
}
.header__information__content .information__content__text h3 {
  font-weight: 800;
  font-size: 45px;
  line-height: 65px;
  color: #000000;
}
.header__information__content .information__content__text h3 span {
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  color: #000000;
}
.header__information__content .information__content__text h3 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 29px;
}
.header__information__content .information__content__text .information__content__btn {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__information__content .information__content__text .information__content__btn button {
  width: 114px;
  height: 54px;
  background-color: #77B2D3;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 250px;
  border: 1px solid transparent;
}
.header__information__content .information__content__text .information__content__btn button:hover {
  border: 1px solid #77B2D3;
}
.header__information__content .information__content__text .information__content__btn .content__btn {
  width: 241px;
}

.header__information__numbox {
  max-width: 1170px;
  height: 254px;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 76px;
  border-radius: 20px;
  box-shadow: 1px 6px 3px -2px rgba(0, 0, 0, 0.136);
  -webkit-box-shadow: 1px 6px 3px -2px rgba(0, 0, 0, 0.132);
  -moz-box-shadow: 1px 6px 3px -2px rgba(0, 0, 0, 0.138);
}
.header__information__numbox h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
}
.header__information__numbox .information__box {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
}
.header__information__numbox .information__box .information__card h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__information__numbox .information__box .information__card h3 span {
  font-size: 20px;
}
.header__information__numbox .information__box .information__card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.services {
  width: 100%;
}
.services__container {
  max-width: 1170px;
  height: 542px;
  margin: 0 auto;
  margin-bottom: 90px;
}
.services__container .service__title h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
}
.services .service__cardbox {
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 41px;
}
.services .service__cardbox .service__card {
  width: 220px;
  height: 453px;
  text-align: center;
}
.services .service__cardbox .service__card .service__card__text {
  width: 220px;
  height: 378px;
  border: 1px solid transparent;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 21px;
}
.services .service__cardbox .service__card button {
  width: 195px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.services .service__cardbox .service__card .card__text__menu {
  width: 220px;
  height: 74px;
  background-color: #77B2D3;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
}
.services .service__cardbox .service__card .card__text__menu h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.services .service__cardbox .service__card .card__text__box {
  margin-top: 18px;
  margin-bottom: 98px;
  padding: 0 10px;
}
.services .service__cardbox .service__card .card__text__box ul {
  gap: 8px;
}
.services .service__cardbox .service__card .card__text__box ul li {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.services .service__cardbox .service__card .card__text__box ul li p {
  margin-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.services .service__cardbox .card__text__price p span {
  font-weight: 800;
  font-size: 30px;
  line-height: 24px;
  color: #F32C6D;
}

.register {
  width: 100%;
}
.register__container {
  max-width: 1170px;
  height: 573px;
  margin: 0 auto;
  margin-bottom: 112px;
  display: flex;
  justify-content: space-between;
}
.register__container__content h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
}
.register__container__content p {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  margin: 22px 0;
}
.register__container__content input {
  width: 270px;
  height: 59px;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-left: 15px;
  padding: 16px 10px;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.register__container__content .input__area {
  width: 570px;
  height: 141px;
  margin-top: 20px;
  padding-bottom: 100px;
}
.register__container__content .input__checkbox {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.register__container__content button {
  width: 195px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 21px;
}

.brands {
  width: 100%;
}
.brands__container {
  width: 1170px;
  height: 507px;
  margin: 0 auto;
  margin-top: 90px;
}
.brands__container__title h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 90px;
}
.brands__container .brand__card__info {
  width: 100%;
  height: 300px;
  background-color: #fff;
  text-align: center;
}
.brands__container .brand__card__info p {
  width: 100%;
  height: 70px;
  padding: 0 80px;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.brands__container .brand__card__result {
  width: 100%;
  height: 300px;
  background-color: #f3f1fe;
  text-align: center;
  margin-top: -30px;
}
.brands__container .brand__card__result h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}
.brands__container .brand__card__result .result__box {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.brands__container .brand__card__result .result__box h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 30px;
}
.brands__container .brand__card__result .result__box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  padding: 0 30px;
}
.brands__container .brand__system {
  width: 100%;
  height: 300px;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}
.brands__container .brand__system h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.brands body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}
.brands * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}
.brands *::-webkit-scrollbar {
  width: 0;
}
.brands *::-webkit-scrollbar-track {
  background: transparent;
}
.brands *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.brands * {
  -ms-overflow-style: none;
}
.brands ol,
.brands li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.brands .carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}
.brands .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.brands .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}
.brands .carousel__slide:nth-child(even) {
  background-color: #99f;
}
.brands .carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}
.brands .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
@media (hover: hover) {
  .brands .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .brands .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .brands .carousel__snapper {
    animation-name: none;
  }
}
.brands .carousel:hover .carousel__snapper,
.brands .carousel:focus-within .carousel__snapper {
  animation-name: none;
}
.brands .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.brands .carousel__navigation-list,
.brands .carousel__navigation-item {
  display: inline-block;
}
.brands .carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}
.brands .carousel::before,
.brands .carousel::after,
.brands .carousel__prev,
.brands .carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}
.brands .carousel::before,
.brands .carousel__prev {
  left: -1rem;
}
.brands .carousel::after,
.brands .carousel__next {
  right: -1rem;
}
.brands .carousel::before,
.brands .carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
.brands .carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
.brands .carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

footer {
  width: 100%;
}
footer .footer__container {
  max-width: 1170px;
  height: 321px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 550px;
}
footer .footer__container .footer__social {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__container .footer__social .footer__social__box li {
  font-size: 16px;
  line-height: 36px;
  color: #333333;
  margin-top: 10px;
}
footer .footer__container .footer__social p {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #333333;
  margin-top: 7px;
  margin-bottom: 22px;
}
footer .footer__container .footer__social button {
  width: 205px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
footer .footer__container .footer__end {
  width: 100%;
  height: 41px;
  background: #000;
  text-align: center;
}
footer .footer__container .footer__end p {
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
}